body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding:0;
	margin:0;
	box-sizing:border-box
}

.core-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px 30px;
	font-size: 18px;
	background-color: rgba(35, 57, 72, 0.794);
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	z-index: 1;
	transition: background-color 0.3s ease-in-out;
}

.core-button:hover {
	background-color: rgba(138, 36, 36, 0.8);
}

#gameOverMsg {
	background-color: black;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	font-size: 4px;
	color: white;
	max-width: 400px;
}

#retryContainer {
	width: 100%;
	visibility: hidden;
}

.progress-container {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 10;
	overflow: visible;
}

.progress-circle {
    transform: rotate(-90deg);
	width: 80px;
	height: 80px;
	margin : 40px;
	padding: 50px;
	transform-origin: center;
}

.progress-bg {
    fill: none;
    stroke: #c81313;
    stroke-width: 10;
}

.progress-bar {
    fill: none;
    stroke: #0f7ef2;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transition: stroke-dashoffset 1s ease-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0); 
    }
}

.progress-circle.floating {
    animation: float 2s infinite ease-in-out;
}

.progress-text {
	display: hidden;
}


@keyframes growCircle {
    0% {
        filter: brightness(0.5);
    }
    50% {
        filter: brightness(2) saturate(4);
    }
    100% {
        filter: brightness(0.5);
    }
}

.fire-effect {
	margin: 10px;
	overflow: visible;
    animation: fireAnimation 1s infinite alternate, growCircle 1s ease-in-out infinite;
    transition: all 0.2s ease;
}